.reset-password {
    height: 100vh;
    background-color: var(--main-color);
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 60px;
}
.form-container {
    background-color: white;
    padding: 30px;
    border-radius: 20px;
}